// Colors
$color-brand: #c0ffee;
$color-accent: $c0ff33;

// Fonts
@import url('//fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i');

$font-family-primary: "Vollkorn", serif !global;
$font-weight-regular-primary: 400 !global;
$font-weight-bold-primary: 700 !global;

$font-family-secondary: "NeueHaasUnicaPro", clean, sans-serif;
$font-family-regular-secondary: 400 !global;
$font-family-bold-secondary: 700 !global;
