// Colors
$color-brand: #c0ffee;
$color-accent: $c0ff33;

// Fonts
@import url('//fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i');

$font-family-primary: "Vollkorn", serif !global;
$font-weight-regular-primary: 400 !global;
$font-weight-bold-primary: 700 !global;

$font-family-secondary: "NeueHaasUnicaPro", clean, sans-serif;
$font-family-regular-secondary: 400 !global;

// These font files DO NOT exist in this repo.  See the README.md file inside the fonts folder.
@font-face {
  font-family: "NeueHaasUnicaPro";
  src: url("~client-theme/fonts/neuehaas/neuehaas.eot");
  src: url("~client-theme/fonts/neuehaas/neuehaas.woff2") format("woff2"), url("~client-theme/fonts/neuehaas.neuehaas.woff") format("woff"), url("~client-theme/fonts/neuehaas/neuehaas.ttf") format("truetype");
  font-weight: normal;
  font-style : normal;
};

// Placeholders
%a {
  color: $color-brand;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color-accent;
    text-decoration: underline;
  }
}
