// Colors
$color-brand: #4078c0;
$color-accent: $6cc644;

// Fonts
@import url('//fonts.googleapis.com/css?family=Montserrat:300,300i,700,700i|Vollkorn:400,400i,700,700i');

$font-family-primary: "Vollkorn", serif !global;
$font-weight-regular-primary: 400 !global;
$font-weight-bold-primary: 700 !global;

$font-family-secondary: "Montserrat", sans-serif !global;
$font-weight-regular-secondary: 300 !global;
$font-weight-bold-secondary: 700 !global;
